<header class="flex sticky top-0 bg-background py-1.5 justify-between items-center px-2 md:px-2 gap-2 h-16">
  <div class="flex">
    <button
      class="hover:bg-zinc-200 dark:hover:bg-zinc-700 h-10 rounded-lg px-2"
      data-action="click->sidebar#toggle"
      data-sidebar-target="openButton"
    >
      <%= image_tag "sidebar.svg" %>
    </button>
  </div>
  <div class="relative inline-block text-left" data-controller="dropdown">
    <div>
      <button
        type="button"
        class="inline-flex w-full justify-center gap-x-1.5 rounded-md px-3 py-2 text-sm"
        id="menu-button"
        data-action="click->dropdown#toggle click@window->dropdown#hide"
      >
        <div
          data-controller="react"
          data-react-component="BoringAvatar"
          data-props="<%= { name: Current.session.user.email_address }.to_json %>">
        </div>
      </button>
    </div>
    <div data-dropdown-target="menu" class="hidden absolute right-0 z-100 mt-2 w-56 origin-top-right rounded-md shadow-lg dark:bg-zinc-800 ring-black/5">
      <div class="py-1" role="none">
        <%= link_to "ログアウト", session_path, data: { turbo_method: :delete }, class: "block px-4 py-2 text-sm" %>
      </div>
    </div>
  </div>
</header>
